
.growing-textbox {
    position:relative;
    display: inline-block;
}

.growing-textbox > * {
    border:0; 
    padding:0;
    margin:0;
    font-family: inherit;
    font-size: inherit;
    min-width: var(--min-width, 2em);
    max-width: var(--max-width, 10em);
}

.growing-textbox input {
    position:absolute;
    width:100%;
    top:0;
    left:0;
}

.growing-textbox span {
    opacity:0%;
    white-space: pre;
    display: inline-block;
}


.textbox { 
    outline:none;
    z-index:1;
}

.textbox-container {
    background:white;
    margin: 5px 0px 2px 0px;
    border: 1px solid #9696d1;
    border-radius: 2px;
}


@keyframes focus-textbox {
  from {
      height:1px;
      background: #9696d1;
  }
  to {
      height:1px;
      background: blue; 
  }
}

.textbox-container:focus-within {
    border-color: blue;
    outline: rgb(214 214 255) solid 3px;
}

.textbox-container:focus-within::after {
    content: '';
    display:block;
    position:absolute;
    bottom:-1px;
    width: 100%;

    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;

    animation-name: focus-textbox;
    animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.textbox-container > * {
    height: 100%;
    padding: 2px 5px;
    background: transparent;
} 

.textbox-container:focus-within::before { 
    color:blue;
}

.textbox-container:focus-within > div {
    color:blue;
}

.textbox-container > div {
    padding: 0px 2px;
    font-weight:200;
    display:block;
    margin-left:0.5em;
    margin-right:0.5em;
    width: fit-content;
    max-width: fit-content;
    height:0;
    position: relative;
    color: #9696d1;
    opacity: 0.8;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    top:5.5px;
    z-index: 1;
    white-space: pre;
    user-select:none;
}

.textbox-container > div {
    font-size: 10px;
    font-weight:500;
}

.textbox-container:focus-within > div ,
.textbox-container.filled > div {
    font-size: 10px;
    top:-8px;
    opacity: 1;
    font-weight:500;
}


.textbox-container > div::after{
  content: '';
  position:absolute;
  display:block;
  height: 1em;
  max-height: 1em;
  top:-2px;
  left:0;
  right:0;
  background:white;
  z-index: -1;
  transition: 
      top 0.05s,
      max-height 0.05s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
 }


.textbox-container:focus-within > div::after,
.textbox-container.filled > div::after{
  content: '';
  position:absolute;
  display:block;
  width: 100%;
  max-height: 5px;
  top:7px;
  transition: 
      top 0.05s 0.05s,
      max-height 0.025s 0.05s;
}



.textbox-container > div::before{
  content: '';
  position:absolute;
  display:block;
  max-height: 0;
  top:2px;
  left:0;
  right:0;
  background:transparent;
  z-index: -1;
  transition: 
      top 0.05s,
      max-height 0.05s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
 }


.textbox-container:focus-within > div::before,
.textbox-container.filled > div::before{
  content: '';
  background: var(--bg);
  position:absolute;
  display:block;
  width: 100%;
  height: 7px;
  max-height: 7px;
  top:1px;
  transition: 
      top 0.05s 0.05s,
      max-height 0.025s 0.05s;
}
